<ion-row>
  <ion-col col-12>
    <ion-slides spaceBetween="10" slidesPerView="1.1">
      <ion-slide *ngFor="let gift of gifts">
        <ion-row class="gift-row-wrapper">
          <ion-col col-12>
            <p ion-text color="primary">{{ gift.name }}</p>
            <div
              class="img-wrapper"
              [style.background-image]="'url(' + img + ')'"
            ></div>
            <div ion-text color="gray" class="wish-txt">
              {{ gift.post | truncate: 33:"..." }} {{ Codes.love }}
            </div>
          </ion-col>
          <ion-col col-12 class="btns-wrapper">
            <ion-row>
              <ion-col col-6>
                <button
                  ion-button
                  color="secondary"
                  class="custom-btn"
                  round
                  (click)="giveGift(gift)"
                >
                  give away
                </button>
              </ion-col>
              <ion-col col-6>
                <button
                  ion-button
                  color="purple"
                  class="custom-btn"
                  (click)="suggestGift(gift)"
                  round
                >
                  Suggestion
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>
