notification {
  .my-img-wrapper {
    position: relative;
  }
  .giftt-img {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    margin: auto;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 100%;
    [dir="rtl"] & {
      right: initial;
      left: 4px;
    }
  }

  .custom-img {
    margin: 0 !important;
  }
}
