<ion-row class="notification-wrapper-row">
  <ion-col col-12>
    <ion-row>
      <ion-col col-3 align-self-center class="my-img-wrapper">
        <img
          [src]="
            !notification.data.anonymous
              ? notification.data?.user?.profile_image
              : 'assets/imgs/anon.png'
          "
          class="friend-img"
          [class.custom-img]="
            notification.type == 'gift_given' ||
            notification.type == 'suggested_gift'
          "
        />
        <div
          class="gift-img-wrapper"
          *ngIf="
            notification.type == 'gift_given' ||
            notification.type == 'suggested_gift'
          "
        >
          <img [src]="notification.data?.gift?.image" class="giftt-img" />
        </div>
      </ion-col>
      <ion-col col-9 align-self-center>
        <div class="noti-name-wrapper">
          <div
            ion-text
            text-wrap
            color="primary"
            class="normal-size"
            class="name"
          >
            {{ notification.notified.name }}
          </div>
          <div ion-text color="gray" class="normal-size" class="status">
            {{ notification.message }}
          </div>
          <div ion-text color="secondary" class="noti-date" class="status">
            <span
              [innerHTML]="getDifferenceDays(notification.created_at)"
            ></span>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 class="hr-col" *ngIf="!notification.respond">
        <hr class="hr" />
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col col-12 *ngIf="!notification.respond">
    <div class="scroll-wrapper">
      <emotion
        *ngFor="let emotion of Emotions"
        [emotion]="emotion"
        (click)="selectEmotion(emotion)"
      ></emotion>
    </div>
  </ion-col>
</ion-row>
