<!--  -->
<ion-content ion-fixed>
  <form [formGroup]="loginForm">
    <ion-grid class="login-grid">
      <ion-row>
        <ion-col col-12>
          <img src="assets/imgs/logo.png" class="logo-img" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <h4 class="hello">{{ "hello_there" | translate }}</h4>
          <p class="welcome-wrapper">
            <span class="welcome-txt">{{ "welcome_to" | translate }}</span>
            <span ion-text class="gift-txt">{{ "giftu" | translate }}</span>
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <div class="confirm-country-code">
            {{ "pls_confirm_country_code_and_phone_number" | translate }}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <ion-item class="login-item">
            <ion-label color="light" stacked>
              {{ "code" | translate }}</ion-label
            >
            <ion-select
              [(ngModel)]="data.countryCode"
              [ngModelOptions]="{ standalone: true }"
              cancelText="{{ 'cancel' | translate }}"
              okText="{{ 'ok' | translate }}"
            >
              <ion-option
                [value]="code.dial_code"
                *ngFor="let code of countries"
                >{{ code.dial_code }}</ion-option
              >
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-9>
          <ion-item class="login-item">
            <ion-label color="light" stacked>
              {{ "phone_number" | translate }}</ion-label
            >
            <ion-input
              type="tel"
              placeholder="{{ 'phone_number' | translate }}"
              formControlName="phone"
              [(ngModel)]="data.phone"
            ></ion-input>
            <!-- <ion-icon name="custom-check-mark" item-right></ion-icon> -->
          </ion-item>
          <div
            class="form-control-feedback"
            *ngIf="
              !loginForm.controls.phone.valid &&
              (loginForm.controls.phone.dirty ||
                loginForm.controls.phone.touched)
            "
          >
            <div
              *ngIf="loginForm.controls.phone.errors.required"
              class="my-error"
            >
              {{ "phone_is_required" | translate }}
            </div>
            <div
              *ngIf="loginForm.controls.phone.errors.minlength"
              class="my-error"
            >
              {{ "phone_at_least_six_chars" | translate }}
            </div>

            <div
              *ngIf="loginForm.controls.phone.errors.pattern"
              class="my-error"
            >
              {{ "must_enter_numbers" | translate }}
            </div>
          </div>
        </ion-col>

        <ion-col offset-6 col-6>
          <button
            float-end
            ion-button
            round
            color="purple"
            [disabled]="!loginForm.valid"
            class="login-btn"
            (click)="Login()"
          >
            <span *ngIf="!isWaiting"> {{ "login" | translate }}</span>
            <ion-spinner
              name="ios-small"
              *ngIf="isWaiting"
              color="light"
            ></ion-spinner>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="sticky-image-wrapper" *ngIf="showBackgroundLogo">
      <img
        src="assets/imgs/happy.png"
        [class.guysImgWithKeyBoard]="isKeyBoardShow"
        [class.guysImgWithOutKeyBoard]="!isKeyBoardShow"
      />
    </div>
  </form>
</ion-content>
