<ion-content padding>
  <form [formGroup]="registrationForm">
    <ion-grid class="verification-grid">
      <ion-row>
        <ion-col col-12>
          <h4 class="verify-phone-number">{{ "welcome_again" | translate }}</h4>
          <div class="sms-message-txt">
            {{ "enter_some_info_to_help_ur_friends" | translate }}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <img
            *ngIf="!base64Img"
            src="assets/imgs/camera-img.png"
            (click)="presentActionSheet()"
            class="uploaded-img"
          />

          <img
            *ngIf="base64Img"
            [src]="base64Img"
            (click)="presentActionSheet()"
            class="uploaded-img"
          />
        </ion-col>
      </ion-row>

      <ion-row class="info-row">
        <!-- Your name -->
        <ion-col col-12 class="custom-col">
          <ion-item class="custom-item">
            <ion-label color="light" stacked>{{
              "ur_name" | translate
            }}</ion-label>
            <ion-input
              type="text"
              formControlName="name"
              placeholder="{{ 'ur_name' | translate }}"
            ></ion-input>
          </ion-item>
          <div
            class="form-control-feedback"
            *ngIf="
              !registrationForm.controls.name.valid &&
              (registrationForm.controls.name.dirty ||
                registrationForm.controls.name.touched)
            "
          >
            <div
              *ngIf="registrationForm.controls.name.errors.required"
              class="my-error"
            >
              {{ "ur_name_is_required" | translate }}
            </div>
          </div>
        </ion-col>

        <!-- Birth of date -->
        <ion-col col-12 class="custom-col">
          <ion-item class="custom-item">
            <ion-label>{{ "date_of_birth" | translate }}</ion-label>
            <ion-datetime
              #date
              displayFormat="DDDD MMM D, YYYY"
              min="1960"
              max="2050"
              [(ngModel)]="data.birth_date"
              [ngModelOptions]="{ standalone: true }"
            ></ion-datetime>
          </ion-item>
        </ion-col>

        <!-- Gender -->
        <ion-col col-12 class="custom-col">
          <ion-item class="custom-item">
            <ion-label color="light" stacked>{{
              "gender" | translate
            }}</ion-label>
            <ion-select
              [(ngModel)]="data.gender"
              [ngModelOptions]="{ standalone: true }"
            >
              <ion-option value="male">Male</ion-option>
              <ion-option value="female">Female</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Status -->
        <ion-col col-12 class="custom-col">
          <ion-item class="custom-item">
            <ion-label color="light" stacked>{{
              "status" | translate
            }}</ion-label>
            <ion-input
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="data.status"
              placeholder="Status"
              maxlength="25"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col col-12>
        <button
          [disabled]="!registrationForm.valid"
          class="submit-btn"
          ion-button
          round
          block
          color="purple"
          (click)="register()"
        >
          <span *ngIf="!isWaiting">{{ "submit" | translate }}</span>
          <ion-spinner
            name="ios-small"
            *ngIf="isWaiting"
            color="light"
          ></ion-spinner>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
