<ion-header>

  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="verification-grid">
    <ion-row>
      <ion-col col-12>
        <p class="verify-phone-number">Welcome again,</p>
        <div class="sms-message-txt">Enter some information that helps your friends recognize you
          and achieve your dreams</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div class="all-img-container">
          <div class="img-container">
            <img src="assets/imgs/upload.svg" class="upload-img">
            <img src="assets/imgs/smile.png" class="smile-img">
          </div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <!-- Your name -->
      <ion-col col-12>
        <ion-item class="custom-item">
          <ion-label color="light" stacked>Your Name</ion-label>
          <ion-input type="text" [(ngModel)]="data.name" placeholder="Your Name"></ion-input>
        </ion-item>
      </ion-col>

      <!-- Birth of date -->
      <ion-col col-12>
        <ion-item class="custom-item">
          <ion-label>Date of birth</ion-label>
          <ion-datetime #date displayFormat="DDDD MMM D, YYYY" min="2019" max="2050" [(ngModel)]="data.birth"></ion-datetime>
        </ion-item>
      </ion-col>

      <!-- Gender -->
      <ion-col col-12>
        <ion-item class="custom-item">
          <ion-label color="light" stacked>Gender</ion-label>
          <ion-select [(ngModel)]="data.Gender">
            <ion-option value="male">Male</ion-option>
            <ion-option value="female">Female</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <!-- Status -->
      <ion-col col-12>
        <ion-item class="custom-item">
          <ion-label color="light" stacked>Status</ion-label>
          <ion-input type="text" [(ngModel)]="data.status" placeholder="Status"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>


  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-12>
      <button class="submit-btn" ion-button round block color="purple" (click)="register()">
        <span *ngIf="!isWaiting">Submit</span>
        <ion-spinner name="ios-small" *ngIf="isWaiting" color="light"></ion-spinner>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>