<ion-row class="friend-wrapper-row">
  <ion-col col-7 align-self-center>
    <ion-row>
      <ion-col col-4>
        <img
          *ngIf="!friend.profile_image"
          src="assets/imgs/user.svg"
          class="friend-img"
        />

        <div
          class="img-wrapper"
          *ngIf="friend.profile_image"
          [style.background-image]="'url(' + friend.profile_image + ')'"
        ></div>
      </ion-col>
      <ion-col col-8 align-self-center>
        <div class="name-status-wrapper">
          <div
            ion-text
            text-wrap
            color="primary"
            class="normal-size"
            class="name"
          >
            {{ friend.name }}
          </div>
          <div ion-text color="gray" class="normal-size" class="status">
            {{ friend.status | truncate: 25 }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col col-5 align-self-center>
    <div class="heart-wrapper">
      <ion-icon name="heart-outline"></ion-icon>
      <span ion-text color="primary" class="wishlist-txt normal-size"
        >{{ friend.wish_list }} {{ "wishlist" | translate }}</span
      >
    </div>
    <div class="gift-wrapper">
      <ion-icon name="ios-help-buoy"></ion-icon>
      <span ion-text color="primary" class="gift-txt normal-size"
        >{{ friend.given_gifts }} {{ "gifts" | translate }}</span
      >
    </div>
  </ion-col>
</ion-row>
