page-create-gift {
    .toolbar-title{
        font-weight: 500;
    }

    .inputs-wrapper{
        margin-top: 18rem;
    }

    .scroll-content {
        background: white !important;
    }
    .custom-col{
        position: initial;
    }
}
