page-create-gift {
    .toolbar-title{
        font-weight: 500;
    }

    .inputs-wrapper{
    }

    .scroll-content {
        background: white !important;
    }
    .custom-col{
        position: initial;
    }
    .custom-item{
        padding-left : 0 !important;
    }
}
