<ion-header>
  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <form [formGroup]="verificationForm">
    <ion-grid class="verification-grid">
      <ion-row>
        <ion-col col-12>
          <p class="verify-phone-number">
            {{ "verify_ur_phone_number" | translate }}
          </p>
          <div class="sms-message-txt">
            {{ "giftu_will_send_sms_to_verify_your" | translate }}
            <span ion-text color="secondary" class="whatsapp">{{
              "whatsapp" | translate
            }}</span>
            .
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-item class="verify-item">
            <ion-label color="light" stacked>{{
              "verify_code" | translate
            }}</ion-label>
            <ion-input
              type="tel"
              #passwordInput
              formControlName="code"
              [(ngModel)]="data.mobile_token"
              placeholder="{{ 'verify_code' | translate }}"
            ></ion-input>
          </ion-item>
        </ion-col>
        <div
          class="form-control-feedback"
          *ngIf="
            !verificationForm.controls.code.valid &&
            (verificationForm.controls.code.dirty ||
              verificationForm.controls.code.touched)
          "
        >
          <div
            *ngIf="verificationForm.controls.code.errors.required"
            class="my-error"
          >
            {{ "ur_code_is_required" | translate }}
          </div>

          <div
            *ngIf="verificationForm.controls.code.errors.pattern"
            class="my-error"
          >
            {{ "must_enter_numbers" | translate }}
          </div>
        </div>
      </ion-row>

      <ion-row class="next-row">
        <ion-col col-6 align-self-center>
          <button
            ion-button
            color="secondary"
            round
            [disabled]="isDisabled"
            class="resend-btn"
            outline
            (click)="resend()"
          >
            <span *ngIf="time > 0">
              {{ "resend" | translate }}({{ time }})</span
            >
            <span *ngIf="time == 0">{{ "resend" | translate }}</span>
          </button>
        </ion-col>
        <ion-col col-6>
          <button
            float-end
            ion-button
            round
            color="purple"
            [disabled]="!verificationForm.valid"
            class="next-btn"
            (click)="verify()"
          >
            <span *ngIf="!isWaiting">{{ "next" | translate }}</span>
            <ion-spinner
              name="ios-small"
              *ngIf="isWaiting"
              color="light"
            ></ion-spinner>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
