<ion-header mode="md">
  <ion-navbar color="purple">
    <ion-row>
      <ion-col col-12>
        <img
          *ngIf="!userData.profile_image"
          src="assets/imgs/1.jpg"
          class="avatar-img"
        />
        <div
          class="user-profile-wrapper"
          *ngIf="userData.profile_image"
          [style.background-image]="'url(' + userData.profile_image + ')'"
        ></div>
        <p class="user-name">{{ userData.name }}</p>
        <div class="status">
          {{ userData.status | truncate: 25 }} {{ codes.love }}
        </div>
      </ion-col>
    </ion-row>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMyProfile()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="purple" class="segment-toolbar">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button
        [value]="slide.id"
        mode="md"
        *ngFor="let slide of Slides"
        (click)="segmentChanged(slide)"
      >
        {{ slide.name }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="selectedSegment" id="friendContainer">
    <!-- Wishlist Segment -->
    <ion-grid *ngSwitchCase="'my_wishlist'">
      <!-- show occasions section -->
      <ion-grid
        no-padding
        *ngFor="let occasion of Occasions"
        class="occasion-grid"
      >
        <ion-row class="birthday-row-wrapper" (swipe)="swipe($event)">
          <ion-col col-8 no-padding>
            <ion-row>
              <ion-col col-3>
                <img
                  src="{{ imgBasedOnOccasionType(occasion.type) }}"
                  class="birthday-img"
                />
              </ion-col>
              <ion-col col-9 align-self-center>
                <div class="birthday-txt">
                  {{ occasion.name }}
                  <img
                    src="assets/imgs/pencil.svg"
                    class="edit-img"
                    (click)="editOccasion(occasion)"
                  />
                </div>
                <div class="status-txt" ion-text color="gray">
                  {{ occasion.description }} {{ codes.birthday }}
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3 no-padding align-self-center>
            <button
              ion-button
              color="purple"
              class="remaining-days-btn"
              round
              block
            >
              <span
                *ngIf="
                  setting.getDateDifferenceInDays(occasion.occasion_date) > 0
                "
              >
                {{ setting.getDateDifferenceInDays(occasion.occasion_date) }}
                day left
              </span>
              <span
                *ngIf="
                  setting.getDateDifferenceInDays(occasion.occasion_date) == 0
                "
                >Now</span
              >

              <span
                *ngIf="
                  setting.getDateDifferenceInDays(occasion.occasion_date) < 0
                "
                >Expired</span
              >
            </button>
          </ion-col>
          <ion-col col-1 align-self-center>
            <div class="add-wrapper" (click)="AddGift(occasion.id)">
              <img src="assets/imgs/add.svg" />
            </div>
          </ion-col>
        </ion-row>

        <!-- Gifts Slider -->
        <gifts-slider [occasion]="occasion"></gifts-slider>
      </ion-grid>
      <!-- show wishlist section -->
      <ion-grid>
        <ion-row class="wishlist-row-wrapper" (swipe)="swipe($event)">
          <ion-col col-11 no-padding>
            <ion-row class="row-wishlist">
              <ion-col col-2>
                <img src="assets/imgs/wish.png" class="wish-img" />
              </ion-col>
              <ion-col col-10 align-self-center>
                <div class="birthday-txt">My WishList</div>
                <div class="status-txt" ion-text color="gray">
                  Some of my dreams are in your hands
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-1 align-self-center (click)="AddGift(0)">
            <div class="add-wrapper more-add">
              <img src="assets/imgs/add.svg" />
            </div>
          </ion-col>
        </ion-row>
        <!-- Gifts Slider -->
        <wishlist-gifts-slider
          [wishlist]="wishListGifts"
        ></wishlist-gifts-slider>
      </ion-grid>
    </ion-grid>

    <!-- Occasions section -->
    <ion-grid *ngSwitchCase="'occasions'" no-padding>
      <!-- Code here -->
      <ion-row (swipe)="swipe($event)">
        <ion-col col-12>
          <p ion-text color="white" class="my-friends">Create new Occasions</p>
        </ion-col>
      </ion-row>
      <create-occasion></create-occasion>
    </ion-grid>

    <ion-grid *ngSwitchCase="'my_gifts'" no-padding (swipe)="swipe($event)">
      <ion-row>
        <ion-col col-12>
          <p ion-text color="white" class="my-friends">My gift`s</p>
        </ion-col>
      </ion-row>
      <ion-row class="notification-wrapper-row" *ngFor="let gift of myGifts">
        <ion-col col-12>
          <ion-row>
            <ion-col col-3 align-self-center>
              <img src="assets/imgs/1.jpg" class="friend-img" />
              <div class="gift-img-wrapper">
                <img [src]="gift.img" class="giftt-img" />
              </div>
            </ion-col>
            <ion-col col-9 align-self-center>
              <div class="noti-name-wrapper">
                <div
                  ion-text
                  text-wrap
                  color="primary"
                  class="normal-size"
                  class="name"
                >
                  Mohammed Mokhtar <span class="gift-txt">Give you iPhone</span>
                </div>
                <div ion-text color="gray" class="normal-size" class="statuss">
                  Lorem Ipsum is simply dummy
                </div>
                <div
                  ion-text
                  color="secondary"
                  class="noti-date"
                  class="statuss"
                >
                  2 days
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-12>
          <hr class="hr" />
        </ion-col>
        <ion-col col-12>
          <div class="scroll-wrapper">
            <div class="emotion-box" *ngFor="let emotion of Emotions">
              {{ emotion.code }} {{ emotion.name }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
