<ion-header mode="md">
  <ion-navbar color="purple">
    <ion-row>
      <ion-col col-12>
        <img
          *ngIf="!userData.profile_image"
          src="assets/imgs/user.svg"
          class="avatar-img"
        />
        <div
          class="user-profile-wrapper"
          *ngIf="userData.profile_image"
          [style.background-image]="'url(' + userData.profile_image + ')'"
        ></div>
        <p class="user-name">{{ userData.name }}</p>
        <div class="status">
          {{ userData.status | truncate: 25 }} {{ codes.love }}
        </div>
      </ion-col>
    </ion-row>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMyProfile()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="purple" class="segment-toolbar">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button
        [value]="slide.id"
        mode="md"
        *ngFor="let slide of Slides"
        (click)="segmentChanged(slide)"
      >
        {{ slide.name }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="selectedSegment" id="friendContainer">
    <!-- Wishlist Segment -->
    <ion-grid *ngSwitchCase="'my_wishlist'">
      <!-- show occasions section -->
      <ion-grid
        no-padding
        *ngFor="let occasion of Occasions"
        class="occasion-grid"
      >
        <ion-row class="birthday-row-wrapper" (swipe)="swipe($event)">
          <ion-col col-8 no-padding>
            <ion-row>
              <ion-col col-3>
                <img
                  *ngIf="occasion.is_wish_list"
                  src="assets/imgs/wish.png"
                  class="birthday-img-1"
                />
                <img
                  *ngIf="!occasion.is_wish_list"
                  [src]="occasion.category.image"
                  class="birthday-img"
                />
              </ion-col>
              <ion-col col-9 align-self-center>
                <div class="birthday-txt">
                  {{ occasion.name }}
                  <img
                    src="assets/imgs/pencil.svg"
                    class="edit-img"
                    (click)="editOccasion(occasion)"
                  />
                </div>
                <div class="status-txt" ion-text color="gray">
                  {{ occasion.slogan }} {{ codes.birthday }}
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3 no-padding align-self-center>
            <button
              *ngIf="!occasion.is_wish_list"
              ion-button
              color="purple"
              class="remaining-days-btn"
              round
              block
            >
              <span *ngIf="setting.getDateDifferenceInDays(occasion.date) > 0">
                {{ setting.getDateDifferenceInDays(occasion.date) }}
                day left
              </span>
              <span *ngIf="setting.getDateDifferenceInDays(occasion.date) == 0"
                >Now</span
              >
              <span *ngIf="setting.getDateDifferenceInDays(occasion.date) < 0"
                >Expired</span
              >
            </button>
          </ion-col>
          <ion-col col-1 align-self-center>
            <div class="add-wrapper" (click)="AddGift(occasion._id)">
              <img src="assets/imgs/add.svg" />
            </div>
          </ion-col>
        </ion-row>

        <!-- Gifts Slider -->
        <gifts-slider [occasion]="occasion"></gifts-slider>
      </ion-grid>
    </ion-grid>

    <!-- Occasions section -->
    <ion-grid *ngSwitchCase="'occasions'" no-padding>
      <!-- Code here -->
      <ion-row (swipe)="swipe($event)">
        <ion-col col-12>
          <p ion-text color="white" class="my-friends">Create new Occasions</p>
        </ion-col>
      </ion-row>
      <create-occasion></create-occasion>
    </ion-grid>
  </div>
</ion-content>
