<ion-header>
  <ion-navbar color="purple">
    <ion-row>
      <ion-col col-12>
        <img
          *ngIf="!userData.profile_image"
          src="assets/imgs/user.svg"
          class="avatar-img"
        />
        <div
          class="user-profile-wrapper"
          *ngIf="userData.profile_image"
          [style.background-image]="'url(' + userData.profile_image + ')'"
        ></div>
        <p class="user-name">{{ userData.name }}</p>
      </ion-col>
    </ion-row>
  </ion-navbar>

  <ion-row class="profile-info">
    <ion-col col-6>
      <div ion-text color="primary" class="user-phone">
        {{ userData.phone }}
      </div>
      <div ion-text color="gray">{{ userData.status | truncate: 25 }}</div>
    </ion-col>
    <ion-col col-3 align-self-center>
      <ion-icon name="heart-outline"></ion-icon>
      <span ion-text color="primary" class="normal-size"
        >{{ userData.wish_list }} {{ "wishlist" | translate }}</span
      >
    </ion-col>

    <ion-col col-3 align-self-center>
      <ion-icon name="ios-help-buoy"></ion-icon>
      <span ion-text color="primary" class="normal-size"
        >{{ userData.given_gifts }} {{ "gifts" | translate }}</span
      >
    </ion-col>

    <ion-col col-12>
      <hr class="hr" />
    </ion-col>

    <ion-col col-10>
      <span ion-text color="primary" class="mutual">{{
        "mutual_friend" | translate
      }}</span>
      <span ion-text color="gray" (click)="openMutualFriends()"
        >{{ mutualFriendsWhoWillShow }}
        <span *ngIf="reminderFriends > 0">+{{ reminderFriends }}</span>
      </span>
    </ion-col>

    <ion-col col-2>
      <div ion-text color="secondary" (click)="inviteFriends()">
        {{ "invite" | translate }}
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding>
  <loading *ngIf="waitingOccasions"></loading>
  <!-- Normal occasions -->
  <ion-grid
    *ngFor="let occasion of occasions"
    class="birthday-grid-wrapper"
    [hidden]="waitingOccasions"
  >
    <ion-row class="birthday-row-wrapper">
      <ion-col col-9 no-padding>
        <ion-row>
          <ion-col col-3>
            <img
              *ngIf="!occasion.is_wish_list"
              [src]="occasion.category.image"
              class="birthday-img"
            />
            <img
              *ngIf="occasion.is_wish_list"
              src="assets/imgs/birthday.png"
              class="birthday-img"
            />
          </ion-col>
          <ion-col col-9 align-self-center>
            <div class="birthday-txt">{{ occasion.name }}</div>
            <div class="status-txt" ion-text color="gray">
              {{ occasion.slogan }}
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col
        col-3
        no-padding
        *ngIf="setting.getDateDifferenceInDays(occasion.date) >= 0"
      >
        <button
          ion-button
          color="purple"
          class="remaining-days-btn"
          round
          block
        >
          <span
            class="left_days_txt"
            *ngIf="setting.getDateDifferenceInDays(occasion.date) > 0"
            >{{ setting.getDateDifferenceInDays(occasion.date) }}
            {{ "day_left" | translate }}</span
          >
          <span
            class="left_days_txt"
            *ngIf="setting.getDateDifferenceInDays(occasion.date) == 0"
            >{{ "now" | translate }}</span
          >
        </button>
      </ion-col>
    </ion-row>
    <friend-gifts-slider
      *ngIf="occasion.gifts.length > 0"
      [gifts]="occasion.gifts"
      [userData]="userData"
    ></friend-gifts-slider>
    <no-occasion-found
      *ngIf="occasion.gifts.length == 0"
      data="{{ 'no_gifts_found_yet' | translate }}"
    ></no-occasion-found>
  </ion-grid>
</ion-content>
