occasion {
  .img-wrapper {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center center;
    border-radius: 100%;
  }
  .occasion-type {
    color: #868686;
  }
}
