<ion-row class="friend-wrapper-row">
  <ion-col col-7 align-self-center>
    <ion-row>
      <ion-col col-4>
        <img
          *ngIf="!occasion?.image"
          [src]="occasion.user.profile_image"
          class="friend-img"
        />

        <div
          class="img-wrapper"
          *ngIf="occasion?.image"
          [style.background-image]="'url(' + occasion?.image + ')'"
        ></div>
      </ion-col>
      <ion-col col-8 align-self-center>
        <div class="name-status-wrapper">
          <span
            ion-text
            text-wrap
            color="primary"
            class="normal-size"
            class="name"
          >
            <!-- {{ occasion.user.name }} -->
            ahmed mokhtar
          </span>
          <!-- <span class="occasion-type">{{ occasion.category.name }}</span> -->
          <div ion-text color="gray" class="normal-size" class="status">
            {{ occasion.slogan }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col col-5 style="padding-bottom: 0;">
    <ion-row style="height: 100%;">
      <ion-col col-4 align-self-center>
        <div [innerHTML]="getDifferenceDays(occasion)"></div>
      </ion-col>
      <ion-col col-8 align-self-end>
        <div>
          <img [src]="occasion.category.image" class="occasion-img" />
        </div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
