<ion-header>

  <ion-navbar color="purple">
    <ion-title>
      <img height="30" src="assets/imgs/giftu-logo.png">
    </ion-title>

    <ion-buttons end>
      <button ion-button>
        <span class="dot"></span>
        <img src="assets/imgs/1.jpg" class="avatar-img">
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="purple" class="segment-toolbar">

    <ion-segment [(ngModel)]="segments">
      <ion-segment-button value="my_friends" mode="md">
        My friends
      </ion-segment-button>
      <ion-segment-button value="occasions">
        Occasions
      </ion-segment-button>
      <ion-segment-button value="notifications">
        Notifications
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>
      <p ion-text color="white" class="my-friends">My Friends</p>
    </ion-col>
    <ion-col align-self-center>
      <p float-right ion-text color="secondary">invite your best friends</p>
    </ion-col>
  </ion-row>
  <!-- <button ion-button color="secondary" (click)="getFriends()">Load</button> -->
  <ion-row class="friend-wrapper-row" *ngFor="let friend of Friends">
    <ion-col col-7 align-self-center>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/1.jpg" class="friend-img">
        </ion-col>
        <ion-col col-9 align-self-center>
          <div class="name-status-wrapper">
            <div ion-text text-wrap color="primary" class="normal-size" class="name">{{friend.name}}</div>
            <div ion-text color="gray" class="normal-size" class="status">{{friend.status}}</div>
          </div>
        </ion-col>
      </ion-row>


    </ion-col>
    <ion-col col-5 align-self-center>
      <div class="heart-wrapper">
        <ion-icon name="heart-outline"></ion-icon>
        <span ion-text color="primary" class="wishlist-txt normal-size">{{friend.wishlists}} wishlist</span>
      </div>
      <div class="gift-wrapper">
        <ion-icon name="ios-help-buoy"></ion-icon>
        <span ion-text color="primary" class="gift-txt normal-size">{{friend.gifts}} gifts</span>
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-list>
    <ion-item *ngFor="let friend of Friends" class="friend-item" no-lines>
      <ion-avatar item-left>
        <img [src]="friend.img">
      </ion-avatar>
      <div item-left>
        <div ion-text color="primary" class="normal-size">{{friend.name}}</div>
        <div ion-text color="gray" class="normal-size">{{friend.status}}</div>
      </div>



      <div item-right>
        <div class="wishlist-block">
          <ion-icon name="heart-outline"></ion-icon>
          <span ion-text color="primary" class="wishlist-txt normal-size">{{friend.wishlists}} wishlist</span>
        </div>
        <div class="gift-block">
          <ion-icon name="ios-help-buoy"></ion-icon>
          <span ion-text color="primary" class="gift-txt normal-size">{{friend.gifts}} gifts</span>
        </div>

      </div>

    </ion-item>
  </ion-list> -->

</ion-content>