<ion-header mode="md">
  <ion-navbar color="purple">
    <ion-title>
      <img height="30" src="assets/imgs/giftu-logo.png" />
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="updateFriends()">
        <ion-icon name="refresh"></ion-icon>
      </button>

      <button ion-button (click)="openMyProfile()">
        <span class="dot"></span>
        <img
          *ngIf="!userData.profile_image"
          src="assets/imgs/user.svg"
          class="avatar-img"
        />
        <div
          class="user-profile-wrapper"
          *ngIf="userData.profile_image"
          [style.background-image]="'url(' + userData.profile_image + ')'"
        ></div>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button icon-only (click)="Search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="purple" class="segment-toolbar">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button
        [value]="slide.id"
        mode="md"
        *ngFor="let slide of Slides"
        (click)="segmentChanged(slide)"
      >
        {{ slide.value }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="selectedSegment" id="container" (swipe)="swipe($event)">
    <!-- My Friends -->
    <ion-grid *ngSwitchCase="'my_friends'" no-padding>
      <ion-row class="section-title">
        <ion-col>
          <p ion-text color="white" class="my-friends">My Friends</p>
        </ion-col>
        <ion-col align-self-center>
          <p
            float-right
            ion-text
            color="secondary"
            (click)="inviteBestFriends()"
          >
            invite your best friends
          </p>
        </ion-col>
      </ion-row>

      <loading *ngIf="isLoading"></loading>
      <!-- openUserProfile(friend) , -->
      <friend
        *ngFor="let friend of Friends; let index = index"
        (click)="animateBlock(index, friend)"
        id="friend_{{ index }}"
        [hidden]="isLoading && Friends.length == 0"
        [friend]="friend"
      ></friend>

      <no-data *ngIf="Friends?.length == 0" data="No Friends Found !"></no-data>
    </ion-grid>

    <!-- occasions -->
    <ion-grid *ngSwitchCase="'occasions'" no-padding>
      <ion-row class="section-title">
        <ion-col>
          <p ion-text color="white" class="my-friends">Occasions</p>
        </ion-col>
        <ion-col align-self-center (click)="createOccasion()">
          <p float-right ion-text color="secondary">Create new occasion</p>
        </ion-col>
      </ion-row>
      <loading *ngIf="isOccasionsLoading"></loading>
      <occasion
        *ngFor="let occasion of Occasions"
        [hidden]="isOccasionsLoading && Occasions.length == 0"
        [occasion]="occasion"
      ></occasion>
      <ion-infinite-scroll (ionInfinite)="doInfiniteOccasions($event)">
        <ion-infinite-scroll-content
          loadingText="Loading..."
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <no-data
        *ngIf="Occasions.length == 0"
        data="No Occasions Found !"
      ></no-data>
    </ion-grid>

    <!-- Notifications -->
    <ion-grid *ngSwitchCase="'notifications'" no-padding>
      <ion-row class="section-title">
        <ion-col>
          <p ion-text color="white" class="my-friends">Notifications</p>
        </ion-col>
        <ion-col align-self-center>
          <p
            float-right
            ion-text
            color="secondary"
            (click)="inviteBestFriends()"
          >
            Invite your best friends
          </p>
        </ion-col>
      </ion-row>
      <loading *ngIf="isLoading"></loading>
      <notification
        *ngFor="let notification of Notifications"
        [hidden]="isLoading"
        [notification]="notification"
      ></notification>
      <no-data
        *ngIf="Notifications.length == 0"
        data="No Notifications Found !"
      ></no-data>
      <ion-infinite-scroll (ionInfinite)="doInfiniteNotifications($event)">
        <ion-infinite-scroll-content
          loadingText="Loading..."
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>
  </div>
</ion-content>
