<ion-header no-border>
  <ion-grid no-padding class="custom-grid-wrapper">
    <ion-row class="custom-row-wrapper">
      <ion-col col-12 *ngIf="isModal">
        <ion-icon name="close" (click)="dismiss()"></ion-icon>
      </ion-col>
      <ion-col col-8 align-self-center>
        <div ion-text text-start class="invite-friends-txt">
          {{ "invite_ur_friends" | translate }}
        </div>
      </ion-col>
      <ion-col col-4>
        <button
          ion-button
          float-end
          round
          color="secondary"
          class="invite-btn"
          (click)="inviteFriends()"
        >
          <span *ngIf="!isWaiting">{{ "invite_all" | translate }}</span>
          <ion-spinner
            name="ios-small"
            *ngIf="isWaiting"
            color="light"
          ></ion-spinner>
          <!-- Get friends -->
        </button>
      </ion-col>

      <ion-col col-12>
        <div class="line-2" ion-text color="white">
          {{
            "invite_ur_friends_to_use_the_application_and_view_your_wishlist"
              | translate
          }}
        </div>
        <ion-searchbar
          animated="true"
          autocomplete="on"
          debounce="100"
          [(ngModel)]="data.search"
          showCancelButton="false"
          placeholder="{{ 'search' | translate }}"
          (ionInput)="Search($event)"
          (ionCancel)="onCancel($event)"
        >
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content fullscreen>
  <loading *ngIf="isLoading"></loading>
  <!-- <button ion-button color="primary" (click)="getContacts()">Load Contact</button> -->

  <ion-list *ngIf="!isLoading" id="inviteContainer">
    <ion-item *ngFor="let contact of filterContacts">
      <div ion-text text-wrap color="primary">{{ contact.name }}</div>
      <div ion-text color="light">{{ contact.phone }}</div>

      <ion-avatar item-left>
        <img [src]="contact.img" />
      </ion-avatar>

      <button
        block
        class="invite-uninvite-btn"
        ion-button
        item-right
        color="secondary"
        (click)="inviteFriend(contact)"
        [disabled]="contact.active"
      >
        {{ "invite" | translate }}
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!isModal">
  <button
    ion-button
    round
    block
    color="purple"
    class="submit-btn"
    (click)="submit()"
  >
    <span *ngIf="!isSubmitting">{{ "skip" | translate }}</span>
    <ion-spinner
      name="ios-small"
      *ngIf="isSubmitting"
      color="light"
    ></ion-spinner>
  </button>
</ion-footer>
