<ion-header no-border>
  <ion-grid no-padding class="custom-grid-wrapper">
    <ion-row class="custom-row-wrapper">
      <ion-col col-12 *ngIf="isModal">
        <ion-icon name="close" (click)="dismiss()"></ion-icon>
      </ion-col>
      <ion-col col-8 align-self-center>
        <div class="invite-friends-txt">Invite your friends</div>
      </ion-col>
      <ion-col col-4>
        <button
          ion-button
          round
          color="secondary"
          class="invite-btn"
          (click)="getContacts()"
        >
          Invite
          <!-- Get friends -->
        </button>
      </ion-col>

      <ion-col col-12>
        <div class="line-2" ion-text color="white">
          Invite your friends to use the application and view your wish list
        </div>
        <ion-searchbar
          animated="true"
          autocomplete="on"
          debounce="100"
          [(ngModel)]="data.search"
          showCancelButton="false"
          placeholder="Search"
          (ionInput)="Search($event)"
          (ionCancel)="onCancel($event)"
        >
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content fullscreen>
  <loading *ngIf="isLoading"></loading>
  <!-- <button ion-button color="primary" (click)="getContacts()">Load Contact</button> -->

  <ion-list *ngIf="!isLoading" id="inviteContainer">
    <ion-item *ngFor="let contact of filterContacts">
      <div ion-text text-wrap color="primary">{{ contact.name }}</div>
      <div ion-text color="light">{{ contact.phone }}</div>

      <ion-avatar item-left>
        <img [src]="contact.img" />
      </ion-avatar>

      <button
        block
        class="invite-uninvite-btn"
        ion-button
        item-right
        color="secondary"
        *ngIf="!contact.exists"
        (click)="inviteFriend(contact)"
      >
        Invite
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!isModal">
  <button
    ion-button
    round
    block
    color="purple"
    class="submit-btn"
    (click)="submit()"
  >
    Submit
  </button>
</ion-footer>
