<ion-header>
  <ion-navbar color="purple">
    <ion-title>Suggest gift</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="suggestGiftForm">
    <ion-row>
      <ion-col col-12>
        <p class="take-photo" ion-text text-center>Take a photo</p>
        <img
          *ngIf="!base64Img"
          src="assets/imgs/camera-img.png"
          (click)="presentActionSheet()"
          class="uploaded-img"
        />
        <img
          *ngIf="base64Img"
          [src]="base64Img"
          (click)="presentActionSheet()"
          class="uploaded-img"
        />
      </ion-col>
    </ion-row>

    <ion-row class="inputs-wrapper">
      <ion-col col-12 class="custom-col">
        <ion-item class="custom-item">
          <ion-label color="light" stacked>Gift Name</ion-label>
          <ion-input
            type="text"
            formControlName="name"
            [(ngModel)]="data.name"
            placeholder="Gift Name"
          ></ion-input>
        </ion-item>
        <div
          class="form-control-feedback"
          *ngIf="
            !suggestGiftForm.controls.name.valid &&
            (suggestGiftForm.controls.name.dirty ||
              suggestGiftForm.controls.name.touched)
          "
        >
          <div
            *ngIf="suggestGiftForm.controls.name.errors.required"
            class="my-error"
          >
            Gift name is required.
          </div>
        </div>
      </ion-col>

      <ion-col col-12 class="custom-col">
        <ion-item class="custom-item">
          <ion-label color="light" stacked>Your Message</ion-label>
          <ion-input
            type="text"
            formControlName="post"
            [(ngModel)]="data.post"
            placeholder="Gift Description"
          ></ion-input>
        </ion-item>
        <div
          class="form-control-feedback"
          *ngIf="
            !suggestGiftForm.controls.post.valid &&
            (suggestGiftForm.controls.post.dirty ||
              suggestGiftForm.controls.post.touched)
          "
        >
          <div
            *ngIf="suggestGiftForm.controls.post.errors.required"
            class="my-error"
          >
            Gift post is required.
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="toggle-wrapper">
      <ion-col col-3>
        <div class="anon-txt">Anon</div>
      </ion-col>
      <ion-toggle
        checked
        [(ngModel)]="data.anonymous"
        [ngModelOptions]="{ standalone: true }"
      ></ion-toggle>
    </ion-row>
    <!-- || !data.imageUri -->
    <ion-row>
      <ion-col col-12>
        <button
          ion-button
          color="purple"
          block
          [disabled]="!suggestGiftForm.valid"
          class="send-btn"
          (click)="suggestGift()"
        >
          Send
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
