<form [formGroup]="createOccasionForm">
  <ion-row class="occasion-row">
    <ion-col col-12 no-paddong>
      <ion-slides slidesPerView="4" dir="ltr">
        <ion-slide
          *ngFor="let category of occasionCategories"
          (click)="selectOccasionCategory(category)"
        >
          <div class="occasion-img-wrapper" [class.active]="category.active">
            <img [src]="category.image" class="occasion-img" />
          </div>
          <div class="occasion-name" [class.activeName]="category.active">
            {{ category.name }}
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="inputs-wrapper" (swipe)="swipe($event)">
    <ion-col col-12 class="custom-col">
      <ion-item class="custom-item">
        <ion-label color="light" stacked>Name</ion-label>
        <ion-input
          type="text"
          formControlName="name"
          placeholder="Name"
        ></ion-input>
      </ion-item>
      <div
        class="form-control-feedback"
        *ngIf="
          !createOccasionForm.controls.name.valid &&
          (createOccasionForm.controls.name.dirty ||
            createOccasionForm.controls.name.touched)
        "
      >
        <div
          *ngIf="createOccasionForm.controls.name.errors.required"
          class="my-error"
        >
          Your name is required.
        </div>
      </div>
    </ion-col>

    <ion-col col-12 class="custom-col">
      <ion-item class="custom-item">
        <ion-label color="light" stacked>Slogan</ion-label>
        <ion-input
          type="text"
          formControlName="slogan"
          placeholder="Slogan"
        ></ion-input>
      </ion-item>
      <div
        class="form-control-feedback"
        *ngIf="
          !createOccasionForm.controls.slogan.valid &&
          (createOccasionForm.controls.slogan.dirty ||
            createOccasionForm.controls.slogan.touched)
        "
      >
        <div
          *ngIf="createOccasionForm.controls.slogan.errors.required"
          class="my-error"
        >
          Slogan is required.
        </div>
      </div>
    </ion-col>
    <ion-col col-12 class="custom-col">
      <ion-item class="custom-item">
        <ion-label>Date</ion-label>
        <ion-datetime
          #date
          displayFormat="DDDD MMM D, YYYY"
          min="1960"
          max="2050"
          formControlName="date"
        ></ion-datetime>
      </ion-item>
      <div
        class="form-control-feedback"
        *ngIf="
          !createOccasionForm.controls.date.valid &&
          (createOccasionForm.controls.date.dirty ||
            createOccasionForm.controls.date.touched)
        "
      >
        <div
          *ngIf="createOccasionForm.controls.date.errors.required"
          class="my-error"
        >
          Date is required.
        </div>
      </div>
    </ion-col>

    <ion-col col-12>
      <button
        (click)="addOccasion()"
        ion-button
        block
        round
        [disabled]="!createOccasionForm.valid"
        class="create-occasion-btn"
        color="purple"
      >
        <span *ngIf="!isWaiting">Create</span>
        <ion-spinner
          name="ios-small"
          *ngIf="isWaiting"
          color="light"
        ></ion-spinner>
      </button>
    </ion-col>
  </ion-row>
</form>
