<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!gift">Add new gift</ion-title>
    <ion-title *ngIf="gift">Edit gift</ion-title>
    <ion-buttons end>
      <button ion-button round color="white" (click)="Next()">
        Next
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <hr class="hr" />
</ion-content>

<ion-footer>
  <ion-fab center bottom small class="take-picture">
    <button (click)="takePicture()" ion-fab color="light"></button>
  </ion-fab>

  <ion-fab left bottom small class="open-gallery">
    <button (click)="openGallery()" ion-fab color="light">
      <img *ngIf="!base64Img" src="assets/imgs/gallery.svg" />
      <img *ngIf="base64Img" src="{{ base64Img }}" />
    </button>
  </ion-fab>
</ion-footer>
